  <link rel="stylesheet" href="stylesheets/footer.css">

<div class="footer">
    <div class="footer__footerwrap">

        <div class="footer__footerwrap__top-footer-links">
            <a target="_blank" href="https://www.sprinklr.com/social-experience-core/">Core</a>
            <a target="_blank"
               href="https://www.sprinklr.com/social-media-management-system/enterprise-social-media-listening/">Listening</a>
            <a target="_blank"
               href="https://www.sprinklr.com/social-media-management-system/enterprise-social-publishing/">Publishing</a>
            <a target="_blank" href="https://www.sprinklr.com/social-scale-solutions/social-media-advertising/">Paid</a>
            <a target="_blank" href="https://www.sprinklr.com/website-fpx/">FPX</a>
            <a target="_blank" href="https://www.sprinklr.com/social-media-management-system/social-media-command-center/">Command Centre</a>
            <a target="_blank" href="https://www.sprinklr.com/benchmarking/">Benchmarking</a>
            <a target="_blank" href="https://www.sprinklr.com/content-marketing/">Content Marketing</a>
        </div>
        <div class="footer__footerwrap__footer-sites">
            <table>
                <tbody>
                <tr>
                    <th class="footer__footerwrap__footer-sites__footer-table-heading">DEVELOPERS</th>
                    <th class="footer__footerwrap__footer-sites__footer-table-heading">SPRINKLR</th>
                    <th class="footer__footerwrap__footer-sites__footer-table-heading">SOCIAL MEDIA</th>
                    <th class="footer__footerwrap__footer-sites__footer-table-heading">TAGS</th>
                </tr>
                <td>
                    <ol>
                        <li>
                            <a target="_blank" href="https://github.com/avinashdaiict">Avinash</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/karan.tankshali?fref=ts">Karan
                            Tankshali</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/itsmeaji?fref=ts">Ajay Gaur</a></li>
                        <li><a target="_blank" href="https://www.facebook.com/jithin.chowdary.7?fref=ts">Jithin
                            Choudhary</a></li>


                        </li>
                    </ol>
                </td>
                <td>
                    <ol>
                        <li>
                            <a href="https://www.sprinklr.com/social-media-management-system/">Products</a></li>
                        <li><a target="_blank"
                               href="https://www.sprinklr.com/social-scale-solutions/marketing/">Modules</a></li>
                        <li><a target="_blank" href="https://www.sprinklr.com/about-sprinklr/contact-us/">Locations</a>
                        </li>
                        <li><a target="_blank"
                               href="https://www.glassdoor.co.in/Reviews/Employee-Review-Sprinklr-RVW6748204.htm">Life@
                            Sprinklr</a></li>


                        </li>
                    </ol>

                </td>
                <td>
                    <ol>
                        <li>
                            <a href="https://www.facebook.com/">Facebook</a></li>
                        <li><a target="_blank" href="https://twitter.com/?lang=en">Twitter</a></li>
                        <li><a target="_blank" href="https://www.instagram.com/">Instagram</a></li>
                        <li><a target="_blank" href="https://www.quora.com/">Quora</a></li>


                        </li>
                    </ol>

                </td>
                <td>
                    <ol>
                        <li>
                            <a href="#">Javascript</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>


                        </li>
                    </ol>

                </td>


                </tbody>
            </table>
        </div>
        <div class="footer__footerwrap__foot-note">&copy; copyright Sprinklr 2016</div>


    </div>
</div>