<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="stylesheets/index.css">
	<link rel="stylesheet" href="stylesheets/header.css">
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
	<script type="text/javascript" src="javascripts/allTags.js"></script>
	<% include header.ejs %>
</head>
<body>
<div class="wrapper">	
<div id="header"></div>
<div class="container footerfix">
	<div class="content clearfix">
		<div class="mainbar">
			<div class="subheader">
				<h1 class="questionheader">Questions</h1>
			</div>
			<div id='questionlist' class="questionlist">
				<div id='question1' class="question">
					<div class="question__vav">
						<div id='votesbtn'class="question__vav__btn">
							<div class="mini-counts"><span class="x">-2</span></div>
							<div class="name">votes</div>
						</div>
						<div id='answerbtn' class="question__vav__btn question__vav__btn--color">
							<div class="mini-counts"><span class="x--mod">1</span></div>
							<div class="name--mod">answers</div>
						</div>
						<div id='viewbtn' class="question__vav__btn">
							<div class="mini-counts"><span class="x">12</span></div>
							<div class="name">views</div>
						</div>
					</div>
					<div class="question__summary">
						<div class="question__summary__ques">
							<h3><a href="#" class="question-link">React native android application has stopped</a></h3>
						</div>
						<div class="question__summary__tags">
							<a href="#" class="tags">JavaScript</a>
							<a href="#" class="tags">Android</a>
							<a href="#" class="tags">React Native</a>
						</div>
						<div id='author1' class="question__summary__author">
							<div class="author">
								asked 24 secs ago
								<a href="#">Jithin</a>
								</author>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<% include footer.ejs %>
	<div id="footer" class="clearfix"></div>	
</div>		
</body>
</html>
