<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheets/tags.css">

    <title>SprinklrExchange</title>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="javascripts/allTags.js"></script>
    <% include header.ejs %>
    <script type="text/javascript" src="javascripts/tags.js"></script>
</head>
<body>
 <div class="wrapper">
<div id="header"></div>
<div id="container" class="clearfix footerfix">
    <div class="content">
        <div class="subheader"><h1>Tags</h1></div>
        <div class="page-desc" class="page-desc">
            <p>
                A tag is a keyword or label that categorizes your question with other, similar questions. Using the right tags makes it easier for others to find and answer your question.
            </p>
            <input id='tagfilter' class="page-desc__tagfilter" type="text" placeholder="Search Tag">
        </div>
        <div id="tags-browser"  class="tags-browser">


        </div>
    </div>
</div>
<div id="check"></div>
</div>
<% include footer.ejs %>
</body>
</html>