h1{
	color: red;
}
*{
	margin: 0px;
	padding: 0px;
//border: 1px solid red;
}
*{
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}
.container{
	position: relative;
	width: 100%;
}
.content{
	background-color: #fff;
	margin: 0 auto;
	padding: 15px;
	width: 1060px;
}
.mainbar{
	display: inline-block;
	width: 728px;
}
.subheader{
	border-bottom: 1px solid #eaebec;
	height: 34px;
	width: 728px;
}
.questionheader{
	color: #222426;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.3;
}
.question{
	border-bottom: 1px solid #eaebec;
	overflow: hidden;
	padding: 12px 0 10px 0;
	width: 728px;
}
.question__summary{
	display: inline-block;
	width: 530px;
}
.question-link{
	color: #0077CC;
	cursor: pointer;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 1.2em;
	text-decoration: none;
}
.question__summary__tags{
	display: inline-block;
	line-height: 2.3em;
}
.question__summary__author{
	display: inline-block;
	float: right;
	line-height: 2.3em;
	width: 230px;
}
.tags{
	background: #E1ECF4;
	border: 1px solid #E1ECF4;
	color: #39739d;
	cursor: pointer;
	display: inline-block;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin: 2px 2px 2px 0;
	padding: .4em .5em;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
}
.tags:hover
{
	background: #E1ECF4;
	border: 1px solid #E1ECF4;
	color: #39739d;
	cursor: pointer;
	display: inline-block;
	display: inline-block;
	font-size: 12px;
	line-height: 1;
	margin: 2px 2px 2px 0;
	padding: .4em .5em;
	text-align: center;
	text-decoration: none;
	text-decoration: none;
}
.author{
	display: inline-block;
	float: right;
	font-size: 12px;
	font-weight: normal;
}
.author a{
	color: #3af;
	text-decoration: none;
}
.question__vav{
	display:inline-block;
	margin-right:10px;
	vertical-align:top;
}
.question__vav__btn{
	color: #777;
	display: inline-block;
	font-size: 11px;
	height: 44px;
	margin: 0 3px 0 0;
	min-width: 38px;
	padding: 5px 5px 6px 5px;
	text-align:centre;
}
.question__vav__btn--color{
	background-color: #f69c55;
	color:#FFFFFF;
	display: inline-block;
	font-size: 11px;
	height: 44px;
	margin: 0 3px 0 0;
	min-width: 38px;
	padding: 5px 5px 6px 5px;
	text-align:centre;
}
.mini-counts{
	cursor:pointer;
	font-size: 17px;
	font-weight: 300;
	margin-bottom: 4px;
	text-align:center;
//display:block;
}
.x
{
	display:inline-block;
//vertical-align:top;
//margin:0 auto;
}
.name{
	text-align:center;

}
.name--mod{
	color: #FFFFFF;
	text-align:center;
}
.x--mod{
	color:#FFFFFF;
}
.question-link:hover
{
	color: #0077CC;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 1.2em;
    text-decoration: none;
}
.question__vavlink
{
	display:inline-block;
	vertical-align:top;
}